/* ------------------- GENERAL -----------------*/
@media screen and (max-width: 480px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
 .iphone {
   margin-right: 22%;
   width: auto;
 }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
 .iphone {
   margin-right: 22%;
   width: auto;
 }
}

@media screen and (max-width: 480px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
 .boutique-text-box {
   display: inline-block;
   margin: 0 auto;
   padding-top: 60%;
   padding-left: 20%;
 }
 .btn {
   margin-left: 15%;
   margin-bottom: 10%;
 }
}

@media screen and (max-width: 600px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
 .boutique-text-box {
   display: inline-block;
   margin: 0 auto;
   padding-top: 110%;
   padding-left: 23%;
 }
 .btn {
   margin-left: 15%;
   margin-bottom: 10%;
 }
}

@media screen and (max-width: 720px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
 .boutique-text-box {
   display: inline-block;
   margin: 0 auto;
   padding-top: 40%;
   padding-left: 23%;
 }
 .btn {
   margin-left: 15%;
   margin-bottom: 10%;
 }
}

@media screen and (max-width: 840px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
}

@media screen and (max-width: 960px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
}

@media screen and (max-width: 1080px) {
 .iphone {
   margin-right: 22%;
   width: auto;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
}

/*------------------------------
    02. START PRELOADER STYLE
------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-image: -moz-linear-gradient( -29deg, rgb(255, 115, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( -29deg, rgb(255, 115, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( -29deg, rgb(255, 115, 0) 0%, rgb(255, 255, 255) 100%);
}

.preloader .spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.preloader .spinner .cube1,
.preloader .spinner .cube2 {
    background-color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.preloader .spinner .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}


/*------------------------------
    - End Preloader Style
------------------------------*/

html {
  background: #fff;
  /* couleur de fond */
  font-family: ‘Lato’, ‘Arial’, sans-serif;
  /* police de caractère */
  font-weight: 300;
  /* épaisseur de la police */
  font-size: 20px;
  /* taille de la police */
  color: #555;
  /* couleur de la police */
  text-rendering: optimizeLegibility;
  /*  /// Voir PDF */
}

header {
  background-image: linear-gradient(rgba(255, 115, 0, 1), rgba(255, 115, 0, 0.6)), url("../../resources/img/back.png");
  /* Ajout background et filtre */
  background-size: cover;
  background-position:top;
  background-attachment: scroll, local;
  height: 100vh;
}

section{
  padding: 50px 0;
  margin-right: 50px;
}

.row h1 {
  text-shadow: 3px 0 0 #FFF, 0 3px 0 #FFF, 0 -3px 0 #FFF, -3px 0 0 #FFF, 3px 3px 0 #FFF, 3px -3px 0 #FFF, -3px 3px 0 #FFF, -3px -3px 0 #FFF;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: left;

}

h2 {
  text-align: center;
  font-size: 180%;
  word-spacing: 10px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

h2::after{
  display: block;
  height: 2px;
  width: 100px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 30px;
  content:" "
}

h2::before{
  content:" "
}

.long-copy{

  line-height: 145%;
  margin-left: 5%;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.boutique-text-box {
  position: absolute;
  /* positionne l’élément suivant les coordonnées top et left /// Voir PDF */
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* Elle permet d’effectuer une translation (un déplacement) de l’élément sur les axes X et Y. /// Voir PDF */
  width: auto;
  margin: 0 auto;
  font-family: serif;
}

.ion-social-apple {
  font-size: 200%;
  margin-right: 5%;
  line-height: 0.2;
}

.ion-social-android {
  font-size: 200%;
  margin-right: 5%;
  line-height: 0.2;
}

/* ------------------- BOUTON first -----------------*/

.btn {
  padding: 5px 15px;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 150%;
  letter-spacing: 1px;
}

.btn-app {
  color: black;
  background-color: whitesmoke;
  padding-top: 0;
  padding-bottom: 2%;
  margin-top: 10%;
}

.btn-app:hover {
  background-color: black;
  color: white;
}

.btn:hover {
  border: 3px solid rgb(255, 115, 0);
}

.btn-ghost {
  color: #fff;
  background-color: rgb(255, 115, 0);
  padding-top: 1%;
  padding-bottom: 1%;
}

.btn-ghost:hover {
  background-color: rgb(255, 115, 0);
  color: white;
}

/* ------------------- BOUTON end -----------------*/

/* ------------------- LOGO ET MENU -----------------*/

.logo {
  height: 160px;
  float: left;
  margin-top: 20px;
}

.main-nav {
  list-style: none;
  float: right;
  margin-top: 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;
}

.main-nav li a {
  text-decoration: none;
  color: #000;
  font-size: 120%;
}

.main-nav li a:hover {
  text-decoration: none;
  color: #FFF;
  font-size: 130%;
  transition: font-size 1s;
}

.ion-android-star {
  font-size: 45px;
  color: orange;
}

.ion-ios-pulse-strong {
  font-size: 45px;
  color: brown;
}

.ion-ios-heart {
  font-size: 45px;
  color: red;
}

.ion-ios-cog {
  font-size: 45px;
  color: black;
}

.deco{
  text-align: center;
}
.range-photo {
  margin: 0 auto;
  list-style: none;
  width: 100%;
}
.range-photo li{
  display: block;
  float: left;
  width: 25%;
}
.photo{
  width: auto;
  overflow: hidden;
  background-color: black;
}
.photo img{
  padding-bottom: 10px;
  margin-top: 10px;
  opacity: 0.4;
  width: 100%;
  transform: scale(1.5);
  transition: transform 2s,opacity 2s;
}
.photo img:hover{
  opacity: 1;
  transform: scale(1)
}
i {
  text-align: center;
}
/*--------Mobile-------*/
.col-mobile{
  margin-top: 30px;
}

.col-mobile2 {
  margin-top: 100px;
}

.col-mobile:first-child{
  text-align: right;
  padding-right: 3%;
}

.col-mobile:last-child{
  padding-left: 3%;
}

.iphone{
  width: 55%;
  -moz-animation-iteration-count: 10;
}

.service-mobile div{
  text-align: center;
  border: 3px solid orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 25px;
  padding-top: 8px;
  font-size: 150%;
}

.service-mobile{
  margin-bottom: 50px;
}

.btn-a img{
  height: 50px;
  width: auto;
  margin-right: 20px;
}


.img-centre {
  width: 88%;
}


.titre-centre {
  text-transform: uppercase;
  font-size: 250%;
  margin-bottom: 5%;
}

.centre-formation {
  text-transform: uppercase;
  font-size: 150%;
  margin-top: 8%;
}

.col-boutiques {
  font-weight: 400;
  font-family: sans-serif;
}

.ion-ios-location {
  font-size: 130%;
  padding-top: 10%;
  padding-right: 9%;
  color: rgb(255, 115, 0);
}

.adresse {
  font-size: 120%;
  margin-left: 3%;
  padding-top: 5%;
}

.ion-ios-telephone {
  font-size: 130%;
  color: rgb(255, 115, 0);
  margin-left: 3%;
  padding-top: 15%;
  padding-right: 7%;
}

.phone {
  font-size: 120%;
}

.ion-ios-email {
  font-size: 150%;
  color: rgb(255, 115, 0);
  margin-left: 3%;
  padding-top: 15%;
  padding-right: 5%;
}

.mail {
  text-decoration: none;
  color: rgb(255, 115, 0);
  font-size: 120%;
}

.mail a:hover {
  text-decoration: none;
  color: rgb(255, 115, 0);
}

/* Add a black background color to the top navigation */
.topnav {
   background-color: rgba(22, 20, 20, 0.83);
   overflow: hidden;
   opacity: 0.8;
}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}

/* Add an active class to highlight the current page */
.active {
   background-color: #4CAF50;
   color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
   display: none;
}

.titre {
  font-size: 250%;
  font-family: "Bowlby One SC";
  text-decoration: none;
  color: #000;
}

.titre:hover {
  text-decoration: none;
  color: #000;
}

.app-mobile {
  margin-top: 25%;
  text-transform: uppercase;
  font-size: 250%;
}

blockquote {
  font-style: italic;
  margin-top: 40px;
  line-height: 145%;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  display: block;
}

cite img {
  border-radius: 50%;
  height: 60px;
  margin-right: 10px;
}

cite {
  font-size: 90%;
  margin-top: 15px;
  display: block;
}

/*** Tableau prix ***/

.prix {
  background-color: #f4f4f4;
}

.sous-titre {
  text-transform: uppercase;
}

.box-prix {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 20px 20px;
}

.box-prix div {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.box-prix div:first-child {
  background-color: rgba(220, 220, 220, 0.1);
  border-top-left-radius: 10px;
  border-top-width: 10px;
}

.box-prix div:last-child {
  text-align: center;
}

.box-prix ul {
  list-style: none;
  font-size: 150%;
  padding-left: 5%;
}

.price {
  font-size: 300%;
  color: rgb(255, 115, 0);
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.price span {
  font-size: 60%;
}

.price-month {
  font-size: 110%;
  margin-top: 5%;
  margin-bottom: 0;
}

.suscribe-box {
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;

}

.ion-ios-checkmark-empty {
  font-size: 120%;
  color: rgb(255, 115, 0);
  margin-right: 5%;
}

.ion-ios-close-empty {
  font-size: 120%;
  color: rgb(255, 115, 0);
  margin-right: 5%;
}

.col-contact {
  text-align: center;
}

.btn-ghost div {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.contact-form {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  padding: 5% 20%;
}

input[type=text],[type=email], select, textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=submit],[type=reset] {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: 300;
  border-color: rgb(255, 115, 0);
}

.submit {
  margin-left: 50%;
  padding-top: 10px;
}

footer {
  background-color: #333;
  font-size: 120%;
  padding: 10px 0;
}

.footer-nav {
  list-style: none;
  float: left;
  color: rgb(255, 115, 0);
}

.footer-social {
  list-style: none;
  float: right;
  color: rgb(255, 115, 0);
}

.footer-nav li, .footer-social li {
  display: inline-block;
}

/*---------------------------
      .COUNTUP SECTION
----------------------------*/

#countup {
    position: relative;
}

#countup .countup-box {
    margin-bottom: 30px;
}

#countup .countup-box .count-num {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

#countup .countup-box .count-name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

/*---------------------------
      END COUNTUP SECTION
---------------------------*/
